<html>
<head>
    <title>Create Student</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div class="clearfix">
            	<div class="size1of5">
            		<a href="/"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/174658_445086685511745_446125036_n.jpg" alt="Hackbright Logo" width="80" /></a>
            	</div>
            	<div class="size4of5">
            		<h1><a href="/"><span>Hackbright Academy</span>
            			Student Database</a></h1>
            	</div>

            </div>
        </div>
        
        <div class="content">
	        <h2>Create a New Student</h2>
	
	        <p>{{first_name}} {{last_name}} has been added to the database.</p> 
        </div>
    </div>
</body>

</html>